.flex-responsive-container{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
}
.dash_borad_container{
    display: grid;
    padding: 1rem;
    grid-template-columns: 70% 29%;
    grid-gap: 1%;
}